/* Layout */
/* Fonts */
/* Colors*/
/*----------  Rubik Font  ----------*/
@font-face {
  font-family: 'Rubik-Regular';
  src: url("../fonts/rubik/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../fonts/rubik/Rubik-Bold.eot");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Light';
  src: url("../fonts/rubik/Rubik-Light.eot");
  font-weight: 300;
  font-style: normal; }

/*----------  Awsome Font  ----------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome.otf");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Breakpoint mixins */
/* Size Functions */
.block {
  display: block; }

.relative {
  position: relative; }

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

/*----------  Flex Helpers  ----------*/
.flex, .flex-view .view-content {
  display: flex; }

.align-center, .flex-view.align-center .view-content {
  align-items: center; }

.justify-center, .flex-view.justify-center .view-content {
  justify-content: center; }

.justify-end, .flex-view.justify-end .view-content {
  justify-content: flex-end; }

.space-between, .flex-view.space-between .view-content {
  justify-content: space-between; }

.flex-full {
  flex: 1; }

.flex-wrap, .flex-view.flex-wrap .view-content {
  flex-wrap: wrap; }

.self-end, .flex-view.self-end .view-content {
  align-self: flex-end; }

.column, .flex-view.column .view-content {
  flex-direction: column; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }
  .full-width .container-12, .full-width .container-12 .grid-12 {
    width: 100%;
    margin: 0; }

.view-filters {
  clear: both; }

a.more-link {
  margin: 0 5px; }

.info-link-container {
  position: fixed;
  bottom: 30px;
  right: 20px; }
  .info-link-container a.info-link {
    color: #fff;
    background: #4169e1;
    font-size: 1.875rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: background 0.3s; }
    .info-link-container a.info-link:hover {
      text-decoration: none;
      background: #000; }

* {
  box-sizing: border-box; }

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none; }

/*
html { 
  height: 100%;
  @include for-narrow-layout {
    font-size: 14px;
  }
}
*/
body {
  font: 1rem/1.5 "Rubik-Regular", Arial, Helvetica, sans-serif; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: red; }

::selection {
  color: #fff;
  background: red; }

a, a:link, a:visited {
  transition: all 0.3s; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik-Regular";
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 0.45em; }

img:not(.admin-menu-icon) {
  width: 100%;
  height: auto; }

button, select {
  cursor: pointer; }

button, .btn a {
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: unset;
  border: none;
  text-shadow: none; }

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  box-shadow: red;
  z-index: 1; }

button.clear-btn:focus, button.clear-btn:active {
  box-shadow: none; }

small {
  font-size: rem(10px); }

ul,
fieldset {
  padding: 0;
  margin: 0; }

fieldset {
  border: none; }

abbr[title], acronym[title] {
  text-decoration: none; }

.time-default {
  direction: ltr; }

/*-----------Field Collections------------*/
.field-collection-container {
  border: none;
  margin: 0; }

.field-collection-view {
  padding: 0;
  margin: 0;
  border: none; }

.field-collection-view .entity-field-collection-item {
  margin-bottom: 15px; }

/*------------Admin CSS---------*/
.admin-menu-processed {
  font-size: 12px !important; }

/*-------------Layout---------------*/
.tabs {
  position: relative;
  z-index: 200; }

.section {
  position: relative;
  z-index: 0; }
  .section:not(.section-content) {
    z-index: 1; }

/*-----Header Region------*/
header {
  margin-bottom: 30px; }
  header h1 {
    margin-bottom: 0; }
  header .region-header-second-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }

/*-----Content Region------*/
.zone-content {
  height: 514px;
  margin-bottom: 30px; }

/*-----Menu Region------*/
.view-filters {
  display: none; }

.zone-menu {
  position: relative; }
  .zone-menu .form-item {
    display: flex;
    justify-content: space-between;
    margin: 0; }
    .zone-menu .form-item > * {
      text-align: center;
      font-size: 0.8125rem; }

/*-----Sidebar First------*/
.container-24 .region-sidebar-first.grid-24 {
  position: absolute;
  width: 514px;
  top: -30px;
  left: 0;
  line-height: 20px;
  transform: rotate(-90deg);
  transform-origin: left top; }

.container-24 .region-sidebar-second.grid-24 {
  position: absolute;
  width: 514px;
  top: -30px;
  left: 920px;
  line-height: 20px;
  transform: rotate(-90deg);
  transform-origin: left top; }

/*----------------Project Gallery-----------------*/
.project-gallery .widget_pager_bottom {
  position: relative;
  z-index: 200;
  display: flex; }

/*----------------Image Grids-----------------*/
.image-grid-view .view-content {
  display: grid;
  grid-template-columns: repeat(6, 140px);
  grid-auto-rows: 140px;
  grid-gap: 4px 4px; }

.image-grid-view .grid-item a {
  display: block; }
  .image-grid-view .grid-item a img {
    filter: grayscale(100%); }
  .image-grid-view .grid-item a:hover img {
    filter: grayscale(0%); }

.main-menu {
  font-size: 1.125rem;
  width: 500px; }
  .main-menu ul.menu {
    display: flex;
    justify-content: space-between;
    flex: 0 0 500px; }
    .main-menu ul.menu li.leaf {
      list-style: none;
      margin: 0;
      padding: 0; }

/* Components */
/* Pages */
