/*------------Admin Menu RTL Fix---------*/
.admin-menu-processed .dropdown li ul {
  right: auto !important; }

.admin-menu-processed .dropdown li li.expandable ul {
  margin: -20px 160px 0 0 !important; }

/*--------------------Global---------------------*/
/*--------------------Layout------------------*/
.side-image {
  margin: 0 0 0 10px; }

/*--------------------Project Gallery------------------*/
.project-gallery .views-slideshow-controls-bottom {
  left: auto;
  right: -60px; }

.project-gallery .project-info {
  left: auto;
  right: -60px; }

.gallery-page .field-collection-item-field-project-item img {
  float: left; }

.project-gallery .gallery-text {
  float: left;
  padding: 60px 240px 0 20px; }

.project-gallery .full-gallery {
  background-position: left; }

/*------- Download Links ---------*/
.download-file img:not(.admin-menu-icon) {
  margin: 0 0 0 5px; }
