/*------------Admin Menu RTL Fix---------*/
.admin-menu-processed .dropdown li ul {
  right: auto !important; }

.admin-menu-processed .dropdown li li.expandable ul {
  margin: -20px 160px 0 0 !important; }

/*--------------------Global---------------------*/
/*--------------------Layout------------------*/
.side-image {
  margin: 0 0 0 10px; }

/*--------------------Project Gallery------------------*/
.project-gallery .gallery-text {
  padding: 10px 0 0 30px; }

.project-gallery .project-info {
  padding: 0 0 0 20px; }

.gallery-page .field-collection-item-field-project-item img {
  float: left; }

.project-gallery .full-gallery {
  background-position: left top; }

.image-grid-view .prize-icon {
  right: auto;
  left: 0; }

/*------- Download Links ---------*/
.download-file img:not(.admin-menu-icon) {
  margin: 0 0 0 5px; }
