/* Layout */
/* Fonts */
/* Text */
/* Colors*/
/*----------  Rubik Font  ----------*/
@font-face {
  font-family: 'Rubik-Regular';
  src: url("../fonts/rubik/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../fonts/rubik/Rubik-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Light';
  src: url("../fonts/rubik/Rubik-Light.eot");
  font-weight: 300;
  font-style: normal; }

/*----------  Awsome Font  ----------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome.otf");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Breakpoint mixins */
/* Size Functions */
/* Pager Functions */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.delay-1 {
  animation-delay: 0s; }

.delay-2 {
  animation-delay: 0.2s; }

.delay-3 {
  animation-delay: 0.4s; }

.delay-4 {
  animation-delay: 0.6s; }

.delay-5 {
  animation-delay: 0.8s; }

.block {
  display: block; }

.site-block {
  margin-bottom: 1.25rem; }

.relative {
  position: relative; }

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

/*------- Download Links ---------*/
.download-file {
  line-height: 25px; }
  .download-file img:not(.admin-menu-icon) {
    background: #fff;
    border-radius: 51%;
    padding: 4px;
    width: 25px;
    margin: 0 5px 0 0; }

/*----------  Flex Helpers  ----------*/
.flex, .flex-view .view-content {
  display: flex; }

.align-center, .flex-view.align-center .view-content {
  align-items: center; }

.justify-center, .flex-view.justify-center .view-content {
  justify-content: center; }

.justify-end, .flex-view.justify-end .view-content {
  justify-content: flex-end; }

.space-between, .flex-view.space-between .view-content {
  justify-content: space-between; }

.flex-full {
  flex: 1; }

.flex-wrap, .flex-view.flex-wrap .view-content {
  flex-wrap: wrap; }

.self-end, .flex-view.self-end .view-content {
  align-self: flex-end; }

.column, .flex-view.column .view-content {
  flex-direction: column; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }
  .full-width .container-12, .full-width .container-12 .grid-12 {
    width: 100%;
    margin: 0; }

.view-filters {
  clear: both; }

a.more-link {
  margin: 0 5px; }

.info-link-container {
  position: fixed;
  bottom: 30px;
  right: 20px; }
  .info-link-container a.info-link {
    color: #fff;
    background: #4169e1;
    font-size: 1.875rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: background 0.3s; }
    .info-link-container a.info-link:hover {
      text-decoration: none;
      background: #000; }

/*------------Admin CSS---------*/
html body.admin-menu {
  margin-top: 0 !important; }

.admin-menu-processed {
  font-size: 12px !important; }

/*-------------Layout---------------*/
* {
  box-sizing: border-box; }

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none; }

body {
  font-family: "Rubik-Regular", Arial, Helvetica, sans-serif;
  line-height: 1; }

::-moz-selection {
  /* Code for Firefox */
  background: #fff700;
  text-shadow: none; }

::selection {
  background: #fff700;
  text-shadow: none; }

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #000000; }

a, a:link, a:visited {
  transition: all 0.3s;
  text-decoration: none;
  color: inherit; }

b, strong {
  font-family: "Rubik-Bold";
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik-Bold";
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 0.45em; }

h1 {
  font-size: 2.375rem; }

p {
  margin-bottom: 0.5rem; }

img:not(.admin-menu-icon) {
  width: 100%;
  height: auto; }
  .fixed-image img:not(.admin-menu-icon) {
    position: fixed; }

iframe {
  width: 100%;
  height: auto; }

button, select {
  cursor: pointer; }

button, .btn a {
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: unset;
  border: none;
  text-shadow: none; }

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  box-shadow: #fff700;
  z-index: 1; }

button.clear-btn:focus, button.clear-btn:active {
  box-shadow: none; }

label, .label {
  font-family: "Rubik-Bold";
  display: block; }

small {
  font-size: rem(10px); }

ul,
fieldset {
  padding: 0;
  margin: 0; }

fieldset {
  border: none; }

abbr[title], acronym[title] {
  text-decoration: none; }

.time-default {
  direction: ltr; }

/*-----------Field Collections------------*/
.field-collection-container {
  border: none;
  margin: 0; }

.field-collection-view {
  padding: 0;
  margin: 0;
  border: none; }

.field-collection-view .entity-field-collection-item {
  margin-bottom: 0.9375rem; }

/*-------------Layout---------------*/
div.messages {
  margin: 6px 40px; }

@media (min-width: 980px) {
  .container-24 .suffix-1.prefix-1 {
    padding: 0 40px; } }

/*-----Header Region------*/
header.section {
  width: 100%;
  height: calc( 50vh - 257px);
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 30px;
  z-index: 300; }
  body.admin-menu header.section {
    padding-top: 30px; }
  header.section h1 {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px; }
  header.section .zone-header {
    height: 100%;
    display: flex; }
    header.section .zone-header .region-header-first {
      position: fixed; }
    header.section .zone-header .region-header-second {
      align-self: flex-end; }
  header.section .region-header-second-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }

/*-----Content Region------*/
.zone-content {
  line-height: 1.63;
  margin: calc( 50vh - 257px) auto; }
  .zone-content .region-content-inner {
    position: relative; }
  .zone-content a#main-content {
    display: none; }
  .zone-content a, .zone-content a:link, .zone-content a:visited {
    display: inline-block;
    position: relative; }
    .zone-content a:hover, .zone-content a:link:hover, .zone-content a:visited:hover {
      color: #B0B0B0; }

.side-image {
  flex: 0 0 190px;
  margin: 0 10px 0 0; }
  .side-image img {
    width: 180px; }

/*-----Menu Region------*/
.view-filters {
  display: none; }

.zone-menu {
  position: relative;
  padding-top: 25px;
  display: none; }
  @media (min-width: 980px) {
    .zone-menu {
      display: block; } }
  .zone-menu .form-item, .zone-menu ul.menu {
    display: flex;
    justify-content: space-between;
    margin: 0; }
    .zone-menu .form-item > *, .zone-menu ul.menu > * {
      text-align: center;
      font-size: 0.9375rem;
      list-style: none; }

/*-----Sidebar First------*/
.container-24 .region-sidebar-first.grid-24 {
  position: absolute;
  width: 514px;
  top: 0;
  left: 0;
  line-height: 20px;
  transform: rotate(-90deg);
  transform-origin: left top; }

@media (min-width: 980px) {
  .container-24 .region-sidebar-second.grid-24 {
    position: absolute;
    width: 514px;
    top: 0;
    left: 920px;
    line-height: 20px;
    transform: rotate(-90deg);
    transform-origin: left top; } }

.gallery-page .container-24 .suffix-1.prefix-1 {
  padding: 0; }

/*-----  Footer ------*/
@media (min-width: 980px) {
  footer.section {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    bottom: 0;
    height: calc( 50vh - 257px);
    z-index: 300; } }

.gallery-page footer.section {
  z-index: 0; }

/*----------------Project Gallery Page-----------------*/
.gallery-page .tabs {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  left: 0;
  z-index: 200;
  margin: 0 !important; }
  .gallery-page .tabs ul.primary {
    margin: 0; }

.gallery-page .views-slideshow-cycle-main-frame-row {
  width: 940px !important;
  height: 514px !important; }
  @media (max-width: 980px) {
    .gallery-page .views-slideshow-cycle-main-frame-row {
      position: static !important;
      display: block !important;
      opacity: 1 !important;
      height: auto !important;
      width: 100% !important;
      margin-bottom: 20px; } }

@media (min-width: 980px) {
  .gallery-page .field-collection-item-field-project-item img {
    width: auto;
    float: right; } }

/*----------------Project Gallery-----------------*/
.views_slideshow_controls_text span:hover {
  text-decoration: none; }

@media (min-width: 980px) {
  .gallery-item {
    display: flex; } }

.project-gallery {
  height: 514px;
  position: relative; }
  @media (max-width: 980px) {
    .project-gallery .views-slideshow-cycle-main-frame {
      width: 100% !important;
      height: auto !important; } }
  .project-gallery .full-gallery {
    height: 100%;
    width: 780px;
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    @media (max-width: 980px) {
      .project-gallery .full-gallery {
        background-position: center; } }
  @media (max-width: 980px) {
    .project-gallery .background-image-container {
      position: static;
      height: calc(100vw - 100px);
      width: 100%; } }
  .project-gallery .widget_pager_bottom {
    position: relative;
    z-index: 200;
    display: flex; }
  .project-gallery .project-info {
    flex: 0 0 160px;
    order: -1;
    padding: 0 20px 0 0;
    text-shadow: 0 0 3px #ffffff, 0 0 3px #fff, 0 0 3px #ffffff, 0 0 3px #fff; }
    @media (max-width: 980px) {
      .project-gallery .project-info > *:not(.for-mobile) {
        display: none; } }
  @media (min-width: 980px) {
    .project-gallery .gallery-text {
      max-height: 440px;
      overflow-y: auto;
      padding: 10px 30px 0 0; } }
  .project-gallery .gallery-text::-webkit-scrollbar {
    width: 5px; }
  .project-gallery .gallery-text::-webkit-scrollbar-track {
    background: #fff;
    border-color: #B0B0B0; }
  .project-gallery .gallery-text::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px; }
  .project-gallery .views_slideshow_cycle_main {
    position: relative;
    z-index: 10; }
  .project-gallery .views-slideshow-controls-top a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 50%;
    margin-top: -25px;
    z-index: 20; }
    .project-gallery .views-slideshow-controls-top a[rel='next'] {
      background-image: url(../images/next.png);
      right: 0;
      background-repeat: no-repeat;
      background-position: 15px center;
      border-radius: 50% 0 0 50%; }
    .project-gallery .views-slideshow-controls-top a[rel='prev'] {
      background-image: url(../images/pre.png);
      left: 0;
      background-repeat: no-repeat;
      background-position: 15px center;
      border-radius: 0 50% 50% 0; }
  .project-gallery .views-slideshow-controls-top .views-slideshow-controls-text-pause {
    display: none; }
  .project-gallery .views-slideshow-controls-bottom {
    padding: 10px 0;
    text-shadow: 0 0 3px #ffffff, 0 0 3px #fff, 0 0 3px #ffffff, 0 0 3px #fff;
    position: absolute;
    bottom: -41px; }
    .project-gallery .views-slideshow-controls-bottom a:hover {
      color: #000; }
  .project-gallery .views-slideshow-controls-top, .project-gallery .views-slideshow-controls-bottom {
    display: none; }
    @media (min-width: 980px) {
      .project-gallery .views-slideshow-controls-top, .project-gallery .views-slideshow-controls-bottom {
        display: block; } }
  .project-gallery .views-slideshow-pager-fields > div.active {
    font-family: "Rubik-Bold"; }

/*----------------Image Grids-----------------*/
.image-grid-view .view-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
  grid-auto-rows: calc( ( 100vw - 40px ) / 2); }
  @media (min-width: 740px) {
    .image-grid-view .view-content {
      grid-gap: 5px 5px;
      grid-auto-rows: calc( ( 100vw - 40px ) / 5);
      grid-template-columns: repeat(5, 1fr); } }
  @media (min-width: 980px) {
    .image-grid-view .view-content {
      grid-auto-rows: 168px; } }

.image-grid-view .prize-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 5px;
  background-image: url("../images/svg/winnerIcon.svg"); }

.image-grid-view .grid-item {
  overflow: hidden; }
  .image-grid-view .grid-item:hover {
    overflow: visible;
    z-index: 200; }
    .image-grid-view .grid-item:hover a .limiter {
      opacity: 1;
      transition: opacity .4s 0s; }
      .image-grid-view .grid-item:hover a .limiter:first-child {
        opacity: 0;
        transition: opacity .4s .1s; }
  .image-grid-view .grid-item a {
    display: block;
    height: 100%; }
    .image-grid-view .grid-item a .limiter {
      opacity: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: opacity .4s .1s; }
      .image-grid-view .grid-item a .limiter:first-child {
        opacity: 1;
        transition: opacity .4s 0s; }
    .image-grid-view .grid-item a img {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.8); }

.grid-image-animation .grid-item {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused; }

.grid-image-animation .grid-item.animate {
  animation-play-state: running; }

/*----------------Thumbnail Grids-----------------*/
.thumbnail-grid-view {
  display: grid;
  grid-template-columns: repeat(7, 116px);
  grid-auto-rows: 116px;
  grid-gap: 8px 8px;
  justify-items: center;
  align-items: center; }

/*----------------column Grids-----------------*/
.column-grid-view .view-content div {
  margin-bottom: 8px; }

.column-grid-view .view-content h3:not(:first-child) {
  margin: 20px 0 8px; }

.column-grid {
  column-count: 5;
  column-gap: 20px;
  padding-top: 10px; }

.side-menu-first, .side-menu-second {
  display: none; }

ul li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: inherit;
  margin: inherit; }

.main-menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 300;
  background: #fff;
  padding: 6px 0;
  height: 0;
  overflow: hidden;
  font-size: 1.125rem; }
  @media (min-width: 980px) {
    .main-menu {
      width: 500px;
      position: static;
      background: transparent;
      height: auto; } }
  .main-menu ul.menu {
    display: flex;
    justify-content: space-between;
    flex: 0 0 500px;
    flex-direction: column; }
    @media (min-width: 980px) {
      .main-menu ul.menu {
        flex-direction: row; } }
    @media (min-width: 980px) {
      .main-menu ul.menu ul.menu {
        display: none; } }
    .main-menu ul.menu li.leaf {
      list-style: none;
      margin: 0;
      padding: 0; }
    .main-menu ul.menu a {
      display: block;
      padding: 5px 20px; }
      @media (min-width: 980px) {
        .main-menu ul.menu a {
          display: inline;
          padding: 0; } }
      .main-menu ul.menu a.active {
        font-family: "Rubik-Bold"; }

.construction .main-menu a.active {
  font-family: "Rubik-Regular";
  color: #B0B0B0; }

body.i18n-he aside.region-menu div[class$="-all"] {
  order: 0; }

.region-menu div[class$="-all"] {
  order: 1; }

.region-menu a {
  display: block; }
  .region-menu a:hover {
    color: #000;
    padding-top: 15px; }

.region-menu a.active {
  color: #000;
  font-family: "Rubik-Bold";
  padding-top: 15px; }

.region-menu.region-sidebar-first a.active, .region-menu.region-sidebar-first a:hover {
  padding: 0 0 15px;
  transform: translate(0, -15px); }

.side-menu {
  color: #B0B0B0; }

/* Components */
.logo-block {
  text-align: right;
  position: fixed;
  right: 0;
  padding: 10px;
  font-size: 0.6875rem; }
  .logo-block .logo {
    width: 20px;
    margin-bottom: 5px; }
    @media (min-width: 980px) {
      .logo-block .logo {
        width: 30px; } }
  .logo-block .slogan {
    display: none; }
    @media (min-width: 980px) {
      .logo-block .slogan {
        display: block; } }

.block-locale {
  position: fixed;
  left: 0;
  padding: 20px;
  font-size: 0.875rem; }
  .block-locale ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .block-locale ul li {
      display: inline; }
      .block-locale ul li.active {
        font-family: "Rubik-Bold"; }
        .block-locale ul li.active a {
          cursor: default; }
      .block-locale ul li:not(:last-child)::after {
        content: " | "; }

footer .contact-block {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20px;
  margin: 20px;
  z-index: 300; }

/* Pages */
