/*------------Admin CSS---------*/

html body.admin-menu {
  margin-top: 0 !important;
}

.admin-menu-processed {
  font-size: 12px !important;
}

// Overlay Drupal Fix

#overlay-container, .overlay-modal-background, .overlay-element {
  position: fixed;
}

/*-------------Layout---------------*/

// .tabs {
//   position: relative;
//   z-index: 200;
//   position: absolute;
//   background: rgba(255, 255, 255, 0.8);
//   width: 100%;
//   margin: 0 !important;
// }