/*----------------Project Gallery Page-----------------*/

.gallery-page {
    .tabs {
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        left: 0;
        ul.primary {
            margin: 0;
        }
    }
    header.section, footer.section {
        background: transparent;
    }
    .container-24 .prefix-1.region-content {
        padding-left: 100px;
    }

    .views-slideshow-cycle-main-frame-row {
        width: 800px !important;
        height: 514px !important;
    }

    img {
        width: auto;
        float: right;
    }
}

/*----------------Project Gallery-----------------*/

.project-gallery {

    height: $content-tall-height;
    position: relative;

    .widget_pager_bottom  {
        position: relative;
        z-index: 200;
        display: flex;
    }

    .project-info {
        position: absolute;
        top: 60px;
        left: -60px;
        width: 180px;
    }

    .gallery-text {
        width: 660px;
        float: right;
        padding-top: 60px;
    }

    .views_slideshow_cycle_main {
        position: relative;
        z-index: 10;
    }

    .views-slideshow-controls-bottom  {
        position: absolute;
        z-index: 20;
        bottom: 20px;
        left: -60px;
    }

    .views-slideshow-pager-fields > div {
        color: $color-2;

        &.active {
            color: $color-1;
        }

    }
}