/*----------------Project Gallery Page-----------------*/

.gallery-page {
    .tabs {
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        left: 0;

        z-index: 200;
        margin: 0 !important;
        
        ul.primary {
            margin: 0;
        }
    }

    .views-slideshow-cycle-main-frame-row {
        width: 940px !important;
        height: 514px !important;

        @include for-gallery-spreaded-layout {
            position: static !important;
            display: block !important;
            opacity: 1 !important;
            height: auto !important;
            width: 100% !important;
            margin-bottom: 20px;
        }
    }

    .field-collection-item-field-project-item img {
        @include for-normal-layout {
            width: auto;
            float: right;

        }
    }
}

/*----------------Project Gallery-----------------*/

.views_slideshow_controls_text span:hover {
    text-decoration: none;
}

.gallery-item {
    @include for-normal-layout {
        display: flex;
    }
}

.project-gallery {

    height: $content-tall-height;
    position: relative;

    .views-slideshow-cycle-main-frame {
        @include for-gallery-spreaded-layout {
            width: 100% !important;
            height: auto !important;
        }
    }
    
    .full-gallery {
        height: 100%;
        width: 780px;
        background-size: contain;
        background-position: right top;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @include for-gallery-spreaded-layout {
            background-position: center;
        }
    }

    .background-image-container {
        @include for-gallery-spreaded-layout {
            position: static;
            height: calc(100vw - 100px);
            width: 100%;
        }
    }

    .widget_pager_bottom  {
        position: relative;
        z-index: 200;
        display: flex;
    }

    .project-info {
        flex: 0 0 160px;
        order: -1;
        padding: 0 20px 0 0;
        text-shadow: $text-shadow;
        // &::-moz-selection { /* Code for Firefox */
        //     text-shadow: none !important;
        // }
        
        // &::selection {
        //     text-shadow: none !important;
        // }

        > *:not(.for-mobile) {
            @include for-gallery-spreaded-layout {
                display: none;
            }
        }
    }

    .gallery-text {
        @include for-normal-layout {
            max-height: 440px;
            overflow-y: auto;
            padding: 10px 30px 0 0;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background: #fff;
            border-color: $color-2;
            // border-right: solid 5px transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #000;
            border-radius: 5px; 
        }
    }

    .views_slideshow_cycle_main {
        position: relative;
        z-index: 10;
    }

    .views-slideshow-controls-top  {
        a {
            display: block;
            text-indent: -9999px;
            overflow: hidden;
            height: 50px;
            width: 50px;
            position: fixed;
            top: 50%;
            margin-top: -25px;
            z-index: 20;

            &[rel='next'] {
                background-image: url(../images/next.png);
                right: 0;
                background-repeat: no-repeat;
                background-position: 15px center;
                border-radius: 50% 0 0 50%;
            }
            &[rel='prev'] {
                background-image: url(../images/pre.png);
                left: 0;
                background-repeat: no-repeat;
                background-position: 15px center;
                border-radius: 0 50% 50% 0;
            }


        }
        
        .views-slideshow-controls-text-pause {
            display: none;
        }

    }

    .views-slideshow-controls-bottom  {
        padding: 10px 0;
        text-shadow: $text-shadow;
        position: absolute;
        bottom: -41px;
   
        a:hover {
            color: #000;
        }
    }
    
    .views-slideshow-controls-top, .views-slideshow-controls-bottom {
        display: none;
    
        @include for-normal-layout {
            display: block;
        }
    }

    .views-slideshow-pager-fields > div {

        &.active {
            font-family: $font-main-bold;
        }

    }
}