/*----------------Image Grids-----------------*/

.zone-content .image-grid-view {
    .view-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px 10px;
        grid-auto-rows: calc( ( 100vw - 40px ) / 2 );
        
        @include for-narrow-layout {
            grid-gap: 5px 5px;
            grid-auto-rows: calc( ( 100vw - 40px ) / 5 );
            grid-template-columns: repeat(5, 1fr);
        }
        
        @include for-normal-layout-without-height {
            grid-auto-rows: 168px;
        }
    }
    .prize-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        margin: 5px;
        background-image: url('../images/svg/winnerIcon.svg');
    }
    
    .grid-item  {
        overflow: hidden;
        display: flex;
        
        @include for-narrow-layout {
            display: block;
        }

        @supports (-ms-ime-align:auto) {
            z-index: -1;
          }
        &:hover {
            overflow: visible;
            z-index: 200;
            a.project-thumbnail .limiter {
                opacity: 1;
                transition: opacity .4s 0s;
                &:first-child {
                    opacity: 0;
                    transition: opacity .4s .1s;
                }
            }
        }
        a.project-thumbnail {
            display: block;
            position: relative;
            height: 100%;
            flex: 0 0 50%;


            &:hover {
                z-index: 200;
            }
            
            .limiter {
                
                opacity: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                transition: opacity .4s .1s;



                &:first-child {
                    opacity: 1;
                    transition: opacity .4s 0s;
                }

            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                transform: scale(1.8);

            }

        }
    }

    .mobile-project-info {
        flex: 0 0 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include for-narrow-layout {
            display: none;
        }

        h2 {
            margin-bottom: 0;
            font-size: rem(17px);
        }
    }
}

.grid-image-animation .grid-item  {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s; 
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.grid-image-animation .grid-item.animate  {
    animation-play-state: running;
}

/*----------------Thumbnail Grids-----------------*/

.thumbnail-grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 116px;
    grid-gap: 8px 8px;
    justify-items: center;
    align-items: center;
    
    @include for-narrow-layout {
        // grid-auto-rows: 116px;
        grid-template-columns: repeat(5, 1fr);
    }
    @include for-normal-layout {
        // grid-auto-rows: 116px;
        grid-template-columns: repeat(7, 1fr);
    }
}




/*----------------column Grids-----------------*/

.column-grid-view .view-content {
    div {
        margin-bottom: 8px;
    }
    h3:not(:first-child) {
        margin: 20px 0 8px;
    }
}

.column-grid {
    column-count: 2;
    column-gap: 20px;
    padding-top: 10px;
    
    @include for-narrow-layout {
        column-count: 4;
    }
    @include for-normal-layout {
        column-count: 5;
    }
}