.logo-block {
  text-align: right;
  position: fixed;
  right: 0;
  padding: 10px;
  font-size: rem(11px);
  .logo {
    width: 30px;
    margin-bottom: 5px;
  }
}

.block-locale {
  position: fixed;
  left: 0;
  padding: 20px;
  font-size: rem(14px);
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline;
      &.active {
        font-family: $font-main-bold;
        a {
          cursor: default;
        }
      }
      &:not(:last-child)::after {
        content: " | "
      }
    }
  }
}