/*------------Admin CSS---------*/

.admin-menu-processed {
    font-size: 12px !important;
}

/*-------------Layout---------------*/

.tabs {
    position: relative;
    z-index: 200;
}

.section {
    position: relative;
    z-index: 0;
    &:not(.section-content) {
        z-index: 1;
    }
}