/*------------Admin CSS---------*/

.admin-menu-processed {
    font-size: 12px !important;
}

/*-------------Layout---------------*/

.tabs {
    position: relative;
    z-index: 200;
}

.section {
    position: relative;
    z-index: 0;
    &:not(.section-content) {
        z-index: 1;
    }
}

/*-----Menu Region------*/

.view-filters {
    display: none;
}

.zone-menu {
    min-height: 50px;
    background: yellow;

    .form-item {
        display: flex;
        justify-content: space-between;
        > * {
            text-align: center;
            font-size: rem(13px);
        }
    }
}