/*-------------Layout---------------*/

div.messages {
    margin: 6px 40px;
}

.container-24 .suffix-1.prefix-1 {
    @include for-normal-layout {
        padding: 0 40px;
    }
}

/*-----Header Region------*/

header.section {
    width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;

    .gallery-page & {
        @include for-normal-layout {
            background: transparent;
        }
    }
    
    @include for-six-column-layout {
        height: $header-footer-tall-height-short;
        padding-bottom: 15px;
    }

    @include for-five-column-layout {
        height: $header-footer-tall-height;
        padding-bottom: 30px;
    }

    body.admin-menu & {
        padding-top: 30px;
    }


    h1 {
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 400px;
        font-size: rem(20px);

        position: relative;
        z-index: 400;
        
        @include for-normal-layout {
            font-size: rem(38px);
        }
    }

    .zone-header {
        height: 100%;
        display: flex;
        .region-header-first {
            position: fixed;
            z-index: 300;
            width: 100%;
            height: 60px;
            background: #fff;
            left: 0;

            @include for-normal-layout {
                background: transparent;
                height: auto;
            }
        }
        .region-header-second {

            padding: 0 40px;
            width: 100%;

            @include for-normal-layout {
                align-self: flex-end;
                padding: 0;
                width: 100%;
            }
        }
    }
    .region-header-second-inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

/*-----Content Region------*/

.zone-content {

    line-height: 1.63;

    margin: 60px 0 0 0;
    padding-bottom: 40px;
    
    @include for-normal-layout {
        padding-bottom: 0;
    }
    @include for-six-column-layout {
        margin: $header-footer-tall-height-short auto;
    }
    @include for-five-column-layout {
        margin: $header-footer-tall-height auto;
    }
    @include for-narrow-wide-layout {
        margin-top: 60px;
    }

    .region-content-inner {
        position: relative;
    }
    a#main-content {
        display: none;
    }
    a, a:link, a:visited {
        display: inline-block;
        position: relative;
        &:hover {
            color: $color-2;
        }
    }
}

.side-image {
    flex: 0 0 190px;
    margin: 0 10px 10px 0;
    img {
        width: 180px;
    }
}


/*-----Menu Region------*/

.view-filters {
    display: none;
}

.zone-menu {
    
    position: relative;
    padding-top: 25px;

    display: none;

    @include for-normal-layout {
        display: block;
    }

    .form-item, ul.menu {
        display: flex;
        justify-content: space-between;
        margin: 0;
        > * {
            text-align: center;
            font-size: rem(15px);
            list-style: none;
        }
    }
}

/*-----Sidebar First------*/

@mixin sidebar($left) {
    position: absolute;
    // width: $content-tall-height;
    top: 0;
    left: $left;
    line-height: 20px;
    transform: rotate(-90deg);
    transform-origin: left top;
    
    @include for-six-column-layout {
        width: $content-tall-height-short;
    }
    @include for-five-column-layout {
        width: $content-tall-height;
    }
}

.container-24 .region-sidebar-first.grid-24 {
    @include sidebar(0);
}

.container-24 .region-sidebar-second.grid-24 {
    @include for-normal-layout {
        @include sidebar(920px);
    }
}

.gallery-page .container-24 .suffix-1.prefix-1 {
    padding: 0;
}

/*-----  Footer ------*/

footer.section {

    .node-type-news & {
        display: none;
    }

    @include for-normal-layout {
        position: fixed;
        width: 100%;
        background: #fff;
        left: 0;
        bottom: 0;
        // height: $header-footer-tall-height;
        z-index: 300;
    }

    @include for-six-column-layout {
        height: $header-footer-tall-height-short;
    }
    @include for-five-column-layout {
        height: $header-footer-tall-height;
    }

    .gallery-page & {
        z-index: 0;
    }
}