// Main Menu

.main-menu {

    font-size: rem(18px);
    width: 500px;
    ul.menu {
        display: flex;
        justify-content: space-between;
        flex: 0 0 500px;
        li.leaf {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}