.side-menu-first, .side-menu-second {
    display: none;
}

ul li.expanded {
    list-style-type: none;
    list-style-image: none;
    padding: inherit;
    margin: inherit;
}

// Main Menu

.main-menu {
    
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 300;
    background: #fff;
    padding: 6px 0;
    height: 0;
    overflow: hidden;
    
    font-size: rem(18px);
    
    @include for-normal-layout {
        width: 500px;
        position: static;
        background: transparent;
        height: auto;
    }




    ul.menu {
        display: flex;
        justify-content: space-between;
        flex: 0 0 500px;

        flex-direction: column;

        @include for-normal-layout {
            flex-direction: row;
        }

        ul.menu {
            @include for-normal-layout {
                display: none;
            }
        }

        li.leaf {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            display: block;
            padding: 5px 20px;
    
            @include for-normal-layout {
                display: inline;
                padding: 0;
            }
    
            &.active {
            font-family: $font-main-bold;
            }
        }
    }
}

.construction .main-menu a.active {
    font-family: $font-main-normal;
    color: $color-2;
}

body.i18n-he aside.region-menu div[class$="-all"] {
    order: 0;
}

.region-menu {
    div[class$="-all"] {
        order: 1;
    }
    a {
        display: block;
        &:hover {
            color: $color-1;
            padding-top: 15px;
        }
    }
    a.active {
        color: $color-1;
        font-family: $font-main-bold;
        padding-top: 15px;
    }
    &.region-sidebar-first a {
        &.active, &:hover {
            padding: 0 0 15px;
            transform: translate(0, -15px)
        }
    }
}

// Side Menues

.side-menu {
    color: $color-2;
}