/*------ Contact -------------*/ 

.node-contact-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @include for-normal-layout {
        flex-direction: row;
        align-items: center;
    }
}

/*---------------- News -------------*/

.region-header-first .weather-block, .region-header-first .weather-title {
    display: none;
    img {
        display: block;
    }
}

.region-sidebar-first::before, .region-sidebar-second::before {
    text-align: justify; /* For Edge */ 
    text-align-last: justify;
    display: block;
}

.i18n-he.page-academia .region-sidebar-first::before {
    content: "אדריכלות מורכבת מהיבטים חברתיים, כלכליים ואקולוגים בלתי נפרדים";
}
.i18n-he.page-academia .region-sidebar-second::before {
    content: "על האדריכל מוטלת אחריות כבדה בעיצוב פני החברה ועתידה";
}

.i18n-he.page-news .region-sidebar-first::before {
    content: "תעוזה, פתיחות וסקרנות מובילות לגיוון, חדשנות ויצירתיות דינאמית";
}
.i18n-he.page-news .region-sidebar-second::before {
    content: "מסורת מקצועית של למעלה משבעים שנה, תולדה של שירות מוקפד ומדויק";
}

/*--------------- Academia -------------*/

.page-academia .region-sidebar-first::before {
    content: "Architecture manifests in complex cultural, socia, economic and ecological faces";
}
.page-academia .region-sidebar-second::before {
    content: "Boldness, openness & curiosity foster diversity, innovation & dynamic creativity";
}

.page-news .region-sidebar-first::before {
    content: "The architect's burden is to envision and realize the future of society";
}
.page-news .region-sidebar-second::before {
    content: "Seventy years of meticulous professional tradition produce exacting personal service";
}


// ----------------- Unleashed --------------  //@at-root

body.page-unleashed {

    header.section {
        background: transparent;
    }

    .zone-content {
        width: 100%;
        overflow: hidden;
    }

    .region-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    footer.section {
        background: transparent;
        width: 0;
    }
}