/*------ Contact -------------*/ 

.node-contact-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @include for-normal-layout {
        flex-direction: row;
        align-items: center;
    }
}

/*------ News -------------*/

.page-academia .region-sidebar-first::before {
    content: "אדריכלות מורכבת מהיבטים חברתיים, כלכליים ואקולוגים בלתי נפרדים";
}
.page-academia .region-sidebar-second::before {
    content: "על האדריכל מוטלת אחריות כבדה בעיצוב פני החברה ועתידה";
}

.page-news .region-sidebar-first::before {
    content: "תעוזה, פתיחות וסקרנות מובילות לגיוון, חדשנות ויצירתיות דינאמית";
}
.page-news .region-sidebar-second::before {
    content: "מסורת מקצועית של למעלה משבעים שנה היא תולדה של שירות אישי מוקפד ומדוייק";
}
