/* Layout */

$content-height: 514px;

/* Fonts */
$font-main-normal: 'Rubik-Regular';
$font-main-bold: 'Rubik-Bold';
$font-main-light: 'Rubik-Light';

// $font-size-small: rem(13px);
$font-size-small: rem(10px);
$font-size-base: rem(12px);
$font-size-medium: rem(18px);
$font-size-large: rem(38px);

/* Colors*/
$color-1: #000;
$color-2: #B0B0B0;
$color-3: red;