@import 'functions';

/*------------Admin Menu RTL Fix---------*/

.admin-menu-processed .dropdown li ul {
  right: auto !important;;
}
.admin-menu-processed .dropdown li li.expandable ul {
    margin: -20px 160px 0 0 !important;
}

/*--------------------Global---------------------*/

// html {
    // font-family: $hebrew-font, Arial, Helvetica, sans-serif;
    // font-size: 18px;
// }

/*--------------------Layout------------------*/

.side-image {
    margin: 0 0 10px 10px;
}

/*--------------------Project Gallery------------------*/

// .project-gallery .views-slideshow-controls-bottom {
//     left: auto;
//     right: -60px;
// }

.project-gallery .gallery-text {
    @include for-normal-layout {
        padding: 0 0 0 30px;
    }
}

.project-gallery .project-info {
    padding: 0 0 0 20px;
}

.project-gallery .full-gallery {
    background-position: left top;
    @include for-gallery-spreaded-layout {
        background-position: center;
    }
}



.project-gallery .views-slideshow-controls-top a[rel='next'] {
    background-image: url(../images/pre.png);
    right: auto;
    left: 0;
}

.project-gallery .views-slideshow-controls-top a[rel='prev'] {
    background-image: url(../images/next.png);
    left: auto;
    right: 0;
}

//--------------

.image-grid-view .prize-icon {
    right: auto;
    left: 0;
}

ul li.expanded {

    .toggle-sub-menu {
        right: auto;
        left: 0;
    }
}
/*------- Download Links ---------*/

.download-file {
    img:not(.admin-menu-icon) {
      margin: 0 0 0 5px;
    }
  }
